@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .no-spin {
    @apply appearance-none;
    -moz-appearance: textfield;
  }
  .no-spin::-webkit-inner-spin-button,
  .no-spin::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
}
